body {
    font-family:'Helvetica',sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.node-text {
    fill: #fff;
}

.link-line {
    stroke: #999;
}

.link-text{
    fill: #000;
}

.wr-menu{
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
}
